html
    head
        title Flax
        link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Syncopate')
        link(href="https://fonts.googleapis.com/css?family=Alegreya" rel="stylesheet")


        style
            include style.css
    body
        div.banner
            a(href='/')
                h1 Flax

        main
          div.content
            block content

        div.footer
            div.left
                a(href='https://github.com/MockingbirdME/game_md' target='__blank')
                    img(src='/static/octocat.png')
            div.right
                p Favicon provided by #[a(href='http://icons8.com/') Icons8]
